<div class="create-form">
    <h1>Sign Up Form:</h1>
    <form #signUpForm= "ngForm" (ngSubmit)="createUser()">
        <label><b>Email:</b></label><br>
        <mat-form-field>    
            <input matInput [(ngModel)] = "email" 
              type="email" 
              #user_email
              name = "email"
              placeholder="Enter Email"
              required>
          </mat-form-field>
          <br>
      <label><b>Password:</b></label><br>
        <mat-form-field>
          <input matInput [(ngModel)] = "password" 
            type="password" 
            #user_password
            name = "password"
            placeholder="Password"
            required>
        </mat-form-field><h5>Password must be at least 6 characters</h5>
        <br><br>
          
          <button mat-raised-button class="submit-button" color="primary" type="submit" [disabled]="!signUpForm.valid"> Submit </button>
    </form>
</div>
